@import "../variables.scss";
@import "../styles/button";

.publish {
  @extend .sharedBtn;
  background-color: $greenBtn;
  margin: 1vmax auto;
  &:disabled {
    cursor: not-allowed;
  }
}

.modalClose {
  @extend .sharedBtn;
  padding: 0.5vmax;
  border-radius: 50%;
  font-size: 0.8rem;
}
