@import "../variables.scss";
@import "../styles/button";

.newsBtn {
  @extend .sharedBtn;
  background-color: $greenBtn;
  a {
    text-decoration: none;
    color: black;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.editContainer {
  width: 45%;
  height: 70vh;
  margin: 1vmax auto;
  padding: 1vmax;
  box-shadow: $boxShadow;
  background-color: whitesmoke;
  cursor: pointer;
  iframe {
    pointer-events: none;
  }
}
