@import "../variables.scss";
@import "../styles/button";

.newsBtn {
  padding: 0.3rem 0.5rem;
  border: 1px solid $headerBackground;
  background-color: $greenBtn;
  border-radius: 50%;
  outline: whitesmoke;
  margin: 1vmax;
  &:hover {
    box-shadow: $boxShadow;
  }
  &:active {
    box-shadow: none;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.editContainer {
  width: 45%;
  height: 70vh;
  margin: 2vmax auto;
  padding: 1vmax;
  box-shadow: $boxShadow;
  background-color: whitesmoke;
  transition: all 0.2s ease;
  cursor: pointer;
  iframe {
    pointer-events: none;
  }
  &:hover {
    transform: scale(1.02);
    box-shadow: $boxShadowFocus;
  }
}

.notFound {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
