@import "../variables.scss";

.landing {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/landingBgWide.png");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  h1 {
    width: 34%;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(1, 38, 109);
    margin-bottom: 2vmax;
  }
  h2 {
    width: 30%;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(1, 38, 109);
  }
}
