@import "../variables.scss";
@import "../styles/link";
@import "../styles/button";

.activeLink {
  border: 1px solid white;
  box-shadow: 0 0 10px whitesmoke;
}

.mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: $headerBackground;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 3px $shadowColor;
  z-index: 4;
  img {
    width: 9vh;
    margin: 0 2vmax;
    animation: imageHover 3s ease-in-out infinite alternate forwards paused;
  }
  img:hover {
    animation-play-state: running;
  }
  @keyframes imageHover {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  nav {
    width: 92%;
    ul {
      height: 100%;
      margin: 0 2vmax;
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
    }
    li {
      padding: 0.2rem;
    }
    a {
      @extend .linkShared;
      display: inline-block;
      text-decoration: none;
    }
    a:visited {
      color: black;
    }
    button {
      @extend .sharedBtn;
      padding: 0.5vmax;
      font-size: 1rem;
      background-color: $redBtn;
    }
  }
}
