@import "../variables.scss";

.editContainer {
  min-width: 90%;
  min-height: fit-content;
  height: fit-content;
  margin: 1vmax auto;
  padding: 1vmax;
  box-shadow: $boxShadow;
  background-color: whitesmoke;
  .postToolbarContainer {
    z-index: 100;
  }
}
